---
title: legal alerts
---
extends layouts/_layout
block content
  .page.alerts
    section.page__intro(style="background-image: url('../img/home/intro-bg-2.png')")
      .container
        .page__intro__content
          .breadcrumbs
            a(href="#") Home
            a(href="#") Firm
          h1 legal alerts
    section.alerts__content
      .container
        a(href="#").alerts__block
          .row
            .col-sm-4.col-xs-12
              .alerts__block__img(data-aos="fade-right")
                img(src="img/home/home-news-1.png", alt="")
            .col-sm-8.col-xs-12
              .alerts__block__text(data-aos="fade-left")
                h4 Recent Reforms in the Construction Industry
                p The construction industry in Uzbekistan is undergoing significant changes following the enactment of Presidential Decree from November 14, 2018 No. UP – 5577[1] (“Decree”). The Decree introduces new procedures for…
                span 17 January 2019
        a(href="#").alerts__block
          .row
            .col-sm-4.col-xs-12
              .alerts__block__img(data-aos="fade-right")
                img(src="img/home/home-news-2.png", alt="")
            .col-sm-8.col-xs-12
              .alerts__block__text(data-aos="fade-left")
                h4 Recent Reforms in the Construction Industry
                p The construction industry in Uzbekistan is undergoing significant changes following the enactment of Presidential Decree from November 14, 2018 No. UP – 5577[1] (“Decree”). The Decree introduces new procedures for…
                span 17 January 2019
        a(href="#").alerts__block
          .row
            .col-sm-4.col-xs-12
              .alerts__block__img(data-aos="fade-right")
                img(src="img/home/home-news-1.png", alt="")
            .col-sm-8.col-xs-12
              .alerts__block__text(data-aos="fade-left")
                h4 Recent Reforms in the Construction Industry
                p The construction industry in Uzbekistan is undergoing significant changes following the enactment of Presidential Decree from November 14, 2018 No. UP – 5577[1] (“Decree”). The Decree introduces new procedures for…
                span 17 January 2019
        a(href="#").alerts__block
          .row
            .col-sm-4.col-xs-12
              .alerts__block__img(data-aos="fade-right")
                img(src="img/home/home-news-2.png", alt="")
            .col-sm-8.col-xs-12
              .alerts__block__text(data-aos="fade-left")
                h4 Recent Reforms in the Construction Industry
                p The construction industry in Uzbekistan is undergoing significant changes following the enactment of Presidential Decree from November 14, 2018 No. UP – 5577[1] (“Decree”). The Decree introduces new procedures for…
                span 17 January 2019
        a(href="#").alerts__block
          .row
            .col-sm-4.col-xs-12
              .alerts__block__img(data-aos="fade-right")
                img(src="img/home/home-news-1.png", alt="")
            .col-sm-8.col-xs-12
              .alerts__block__text(data-aos="fade-left")
                h4 Recent Reforms in the Construction Industry
                p The construction industry in Uzbekistan is undergoing significant changes following the enactment of Presidential Decree from November 14, 2018 No. UP – 5577[1] (“Decree”). The Decree introduces new procedures for…
                span 17 January 2019
        ul.page__nav
          li
            a(href="#") Start
          li
            a(href="#") Prev
          li.active
            a(href="#") 1
          li
            a(href="#") 2
          li
            a(href="#") 3
          li
            a(href="#") 4
          li
            a(href="#") 5
          li
            a(href="#") Next
          li
            a(href="#") End