---
title: Corporate and M&A
---
extends layouts/_layout
block content
  .page.corporate
    section.page__intro(style="background-image: url('img/home/intro-bg-2.png')")
      .container
        .page__intro__content
          .breadcrumbs
            a(href="#") Home
            a(href="#") Expertise
            a(href="#") Corporate and M&A
          h1 Corporate and M&A
    section.page__text
      .container
        p Our services in the area of corporate law include general corporate advice, commercial law, and mergers and acquisitions. We provide clients with cutting-edge, efficient and pragmatic legal advice and insights across a broad range of industries.
        p Kosta Legal’s Corporate and M&A team advises leading international and local companies on the corporate law matters that they face in all stages of a company’s life cycle. We help our clients establish their presence in Uzbekistan by developing optimal corporate structures, incorporating new legal entities, and assisting in the creation of joint ventures, accreditation of representative offices and registration of permanent establishments. We draft charters, shareholder agreements, joint venture agreements, by-laws, governance policies and other corporate documents. We assist our clients in preparing for, and holding, general meetings of shareholders, protecting their rights and ensuring compliance with corporate-related requirements, such as licensing, filing, reporting, disclosures and more.
        p We also advise on the dissolution of companies, joint ventures and formulating exit strategies that address issues such as ownership and licensing of intellectual property, division of territories and customers and non-competition agreements.
        p Our lawyers are experienced in negotiating, drafting and reviewing all types of commercial agreements, including international trade contracts, distribution, supply contracts, franchising, agency, manufacturing, licensing, outsourcing and other agreements. Our lawyers assist and represent clients in dealing with state authorities in the registration of commercial contracts, if required, and in obtaining licences and permits for their business operations.
        p Proposed transactions are scrutinized for their compliance with Uzbek laws to fight against the financing of terrorism and corruption and, where applicable, for their compliance with the relevant provisions of the FCPA and the UK Bribery Act. Our professionals also assist in conducting due diligence and internal investigations on the compliance of a company’s internal policies with FCPA and the UK Bribery Act requirements.
    section.corporate__slider
      h2 Recent Engagements
      .swiper-container.swiper-corporate
        .swiper-wrapper
          .swiper-slide
            a(href="#" data-aos="zoom-out").corporate__block
              img(src="img/home/deals-1.png", alt="")
              span Legal due diligence of an Uzbek commercial bank in M&A deal
          .swiper-slide
            a(href="#" data-aos="zoom-out").corporate__block
              img(src="img/home/deals-2.png", alt="")
              span Legal due diligence of an Uzbek commercial bank in M&A deal
          .swiper-slide
            a(href="#" data-aos="zoom-out").corporate__block
              img(src="img/home/deals-3.png", alt="")
              span Legal due diligence of an Uzbek commercial bank in M&A deal
          .swiper-slide
            a(href="#" data-aos="zoom-out").corporate__block
              img(src="img/home/deals-4.png", alt="")
              span Legal due diligence of an Uzbek commercial bank in M&A deal
          .swiper-slide
            a(href="#" data-aos="zoom-out").corporate__block
              img(src="img/home/deals-1.png", alt="")
              span Legal due diligence of an Uzbek commercial bank in M&A deal
          .swiper-slide
            a(href="#" data-aos="zoom-out").corporate__block
              img(src="img/home/deals-2.png", alt="")
              span Legal due diligence of an Uzbek commercial bank in M&A deal
          .swiper-slide
            a(href="#" data-aos="zoom-out").corporate__block
              img(src="img/home/deals-3.png", alt="")
              span Legal due diligence of an Uzbek commercial bank in M&A deal
          .swiper-slide
            a(href="#" data-aos="zoom-out").corporate__block
              img(src="img/home/deals-4.png", alt="")
              span Legal due diligence of an Uzbek commercial bank in M&A deal
        .swiper-button-next.swiper-corporate-next
          i.icon.icon-arrow-right
        .swiper-button-prev.swiper-corporate-prev
          i.icon.icon-arrow-left