---
title: Our Firm
---
extends layouts/_layout
block content
  .page.firm
    section.page__intro(style="background-image: url('img/home/intro-bg-1.png')")
      .container
        .page__intro__content
          .breadcrumbs
            a(href="#") Home
            a(href="#") Firm
          h1 our firm
    section.page__text
      .container
        p Kosta Legal is a results-oriented law firm offering a wide range of legal services to both new entrants and well-established businesses in Uzbekistan with particular expertise to offer legal advice and services to foreign investors.
        p We help our clients navigate through the constantly evolving Uzbek legal environment that is characterized by frequent changes and ambiguity in the actual application of legal norms, which may pose serious challenges to foreign investors, in particular. We at Kosta Legal are uniquely qualified to address these operational challenges in the Uzbek context and our law firm has the necessary legal expertise, resources and flexibility to overcome matters of various complexities.
        p We see our role as a local legal counsel in being first-to-call when our clients require high-quality and effective legal advice to facilitate their activities in Uzbekistan. This might include examining complex multi-party loan agreements for their compliance with Uzbek legislation or hiring/firing personnel; representing a client in negotiations for an investment agreement with Uzbek authorities or assisting in obtaining relevant licences to undertake necessary business activities; litigating in court on behalf of a client over a multi-million dollar dispute or assisting in obtaining visas for staff.
        p Based in Tashkent, Uzbekistan, we work with multi-national and Fortune 500 companies, financial institutions (including regional development banks), the governments of different states, and small and medium-sized businesses, along with start-ups.
    section.firm__advantages
      .container
        h2 Why Kosta Legal?
        .firm__advantages__content
          .firm__advantages__block(data-aos="zoom-out")
            h4 Excellent Performance
            p We strive to be the best in our fields of expertise and deliver the highest standard of service to our clients. Our lawyers are the market leaders in such practice areas as corporate and regulatory, mergers and acquisitions, bankruptcy and restructuring, banking and finance, international trade and competition, real estate and construction, labor and employment. Their expertise and special interests are in oil and gas, energy, mining, telecommunication, pharmaceuticals, construction and consumer goods industries.
          .firm__advantages__block(data-aos="zoom-out")
            h4 Professional Team
            p Kosta Legal places high importance on professional qualifications and continued legal training of our professionals. We understand that the legal landscape keeps evolving and we strive to keep ahead of these changes with a relentless focus on professional development of our lawyers and supporting staff. We have developed and implemented the holistic system of continued training that allows our professionals to stand at the forefront of the legal science and practice.
          .firm__advantages__block(data-aos="zoom-out")
            h4 Customized Approach
            p At Kosta Legal, we believe in customized approach to our clients and their needs. We always take time to learn the client’s business, its structure and model as well as the environment it operates in. It gives us the intimate knowledge and understanding of the client’s needs required to bring successful outcomes.
          .firm__advantages__block(data-aos="zoom-out")
            h4 Creative Thinking
            p At Kosta Legal, our primary goal is to deliver creative and pragmatic solutions that are consistent with the commercial objectives of our clients in the most efficient and cost effective manner. We always stand for our legal advice and are ready to defend our position with any third party, including state bodies and the court. Our lawyers make things happen.

