---
title: Page
---
extends layouts/_layout
block content
  .pages
    .container
      h1 All pages
      ul
        li
          a(href="index.html") Home
        li
          a(href="corporate.html") Corporate and M&A
        li
          a(href="firm.html") Our Firm
        li
          a(href="alerts.html") legal alerts
        li
          a(href="newsletters.html") Newsletters
        li
          a(href="team.html") Our team
        li
          a(href="careers.html") Careers