---
title: Our team
---
extends layouts/_layout
block content
  .page.team
    section.page__intro(style="background-image: url('img/home/intro-bg-2.png')")
      .container
        .page__intro__content
          .breadcrumbs
            a(href="#") Home
            a(href="#") Team
          h1 our team
    section.team__content
      .container
        .tabs
          ul.tabs__caption
            li.active.btn Our Partners
            li.btn Our Lawyers
          .tabs__content.active
            .team__block
              .team__block__img(data-aos="fade-right")
                img(src="img/team/team-1.png", alt="")
              .team__block__text(data-aos="fade-left")
                h4 AZIZBEK AKHMADJONOV
                b Partner
                p Mr. Akhmadjonov is the Head of Kosta Legal’s Real Estate and Asset Financing Teams. Azizbek advises on acquisition, financing, letting and disposal of all types of real estate in Uzbekistan, having particular knowledge of investment corporate purchases and development-related work for developers, local and foreign investors. He also has significant experience in bankruptcy and foreclosure matters. Having led in many major real estate transactions and bankruptcy cases, Azizbek has been recognised as an Uzbekistan’s Leading Individual in The Legal 500.
                .team__block__text__link
                  a(href="#") Download vCard
                  span email: 
                  a(href="mailto:aakhmadjonov@kostalegal.com") aakhmadjonov@kostalegal.com
            .team__block
              .team__block__img(data-aos="fade-right")
                img(src="img/team/team-2.png", alt="")
              .team__block__text(data-aos="fade-left")
                h4 NAIL HASSANOV
                b Partner
                p Mr. Hassanov is a recognised expert in international and Uzbek financial law, leading firm’s banking and finance, infrastructure development and project finance practices. Nail’s work spans many economic sectors, with particular emphasis on the finance, energy, oil & gas and pharmaceutics. Having participated in the Uzbek largest project finance deals, including Uz-Kor Surgil and Uzbekistan GTL, Nail is routinely ranked in Chambers & Partners and The Legal 500 directories as an Uzbekistan-based leading practitioner.
                .team__block__text__link
                  a(href="#") Download vCard
                  span email: 
                  a(href="mailto:nhassanov@kostalegal.com") nhassanov@kostalegal.com
            .team__block
              .team__block__img(data-aos="fade-right")
                img(src="img/team/team-3.png", alt="")
              .team__block__text(data-aos="fade-left")
                h4 VAZGEN GRIGORYAN
                b Partner
                p Mr. Vazgen Grigoryan is one of the country’s most highly regarded litigators, heading the firm’s commercial litigation team and advising clients on complex cross-border commercial litigation proceedings, regulatory enforcement proceedings and multi-jurisdictional investigations. Vazgen’s work for the past 20 years has covered the full range of litigation issues, including acting for foreign investment banks in disputes over financial instruments and letters of credit and representing the world’s largest multinational corporations in investment disputes involving the Uzbek state.
                .team__block__text__link
                  a(href="#") Download vCard
                  span email: 
                  a(href="mailto:vgrigoryan@kostalegal.com") vgrigoryan@kostalegal.com
          .tabs__content
            .team__block
              .team__block__img(data-aos="fade-right")
                img(src="img/team/team-3.png", alt="")
              .team__block__text(data-aos="fade-left")
                h4 VAZGEN GRIGORYAN
                b Partner
                p Mr. Vazgen Grigoryan is one of the country’s most highly regarded litigators, heading the firm’s commercial litigation team and advising clients on complex cross-border commercial litigation proceedings, regulatory enforcement proceedings and multi-jurisdictional investigations. Vazgen’s work for the past 20 years has covered the full range of litigation issues, including acting for foreign investment banks in disputes over financial instruments and letters of credit and representing the world’s largest multinational corporations in investment disputes involving the Uzbek state.
                .team__block__text__link
                  a(href="#") Download vCard
                  span email: 
                  a(href="mailto:vgrigoryan@kostalegal.com") vgrigoryan@kostalegal.com
            .team__block
              .team__block__img(data-aos="fade-right")
                img(src="img/team/team-1.png", alt="")
              .team__block__text(data-aos="fade-left")
                h4 AZIZBEK AKHMADJONOV
                b Partner
                p Mr. Akhmadjonov is the Head of Kosta Legal’s Real Estate and Asset Financing Teams. Azizbek advises on acquisition, financing, letting and disposal of all types of real estate in Uzbekistan, having particular knowledge of investment corporate purchases and development-related work for developers, local and foreign investors. He also has significant experience in bankruptcy and foreclosure matters. Having led in many major real estate transactions and bankruptcy cases, Azizbek has been recognised as an Uzbekistan’s Leading Individual in The Legal 500.
                .team__block__text__link
                  a(href="#") Download vCard
                  span email: 
                  a(href="mailto:aakhmadjonov@kostalegal.com") aakhmadjonov@kostalegal.com
            .team__block
              .team__block__img(data-aos="fade-right")
                img(src="img/team/team-2.png", alt="")
              .team__block__text(data-aos="fade-left")
                h4 NAIL HASSANOV
                b Partner
                p Mr. Hassanov is a recognised expert in international and Uzbek financial law, leading firm’s banking and finance, infrastructure development and project finance practices. Nail’s work spans many economic sectors, with particular emphasis on the finance, energy, oil & gas and pharmaceutics. Having participated in the Uzbek largest project finance deals, including Uz-Kor Surgil and Uzbekistan GTL, Nail is routinely ranked in Chambers & Partners and The Legal 500 directories as an Uzbekistan-based leading practitioner.
                .team__block__text__link
                  a(href="#") Download vCard
                  span email: 
                  a(href="mailto:nhassanov@kostalegal.com") nhassanov@kostalegal.com