//BEGIN header
header.header
  .container
    .header__content
      .header__logo
        img(src="img/logo.png", alt="")
      nav.header__nav
        ul.header__nav__list
          li.active
            a(href="index.html") Home    
          li 
            a(href="#") Expertise
            i.icon.icon-arrow-down
            .header__nav__dropdown
              ul
                li
                  a(href="#") Banking and Finance
                li 
                  a(href="#") Corporate and M&A
                li 
                  a(href="#") Energy and Natural Resources 
                li 
                  a(href="#") Project Finance and  Infrastructure 
                li 
                  a(href="#") Development
              ul
                li
                  a(href="#") Competition and Antitrust
                li 
                  a(href="#") Cross-Border Trade and Customs
                li 
                  a(href="#") Labour and Employment 
                li 
                  a(href="#") Real Estate and Construction
              ul
                li
                  a(href="#") Compliance & regulatory
                li 
                  a(href="#") Dispute Resolution
                li 
                  a(href="#") Pharmaceutics and Healthcare
                li 
                  a(href="#") Retail and Consumer Goods
                li
                   a(href="#") Telecommunications, Media and technology 
          li 
            a(href="#") Resources
            i.icon.icon-arrow-down
            .header__nav__dropdown.header__nav__dropdown-secondary
              ul
                li
                  a(href="#") Legal Alerts
                li 
                  a(href="#") News
                li 
                  a(href="#") Newsletters
                li 
                  a(href="#") Publications
          li 
            a(href="#") Firm
          li 
            a(href="#") Team
          li 
            a(href="#") Careers
          li 
            a(href="#") Contact us
      .header__connection
        a(href="tel:+998712389428") 
          i.icon.icon-phone
        a(href="mailto:info@kostalegal.com") 
          i.icon.icon-email-open
        .header__connection__search
          div
            button
              i.icon.icon-search
            input(type="text" placeholder="Search...")
            a(href="#")
              i.icon.icon-close
        
//END header
