section.home-download
  .container
    .home-download__content
      .home-download__img(data-aos="zoom-out-up")
        img(src="img/home/finance-brochure.png", alt="")
      .home-download__link(data-aos="flip-up")
        a(href="#")
          i.icon.icon-download
          span.btn Download brochure