section.home-download
  .container
    .home-download__content
      .home-download__img
        img(src="img/home/finance-brochure.png", alt="")
      .home-download__link
        a(href="#")
          i.icon.icon-download
          span.btn Download brochure