section.home-firm
  .container
    .home-firm__text
      h2 kosta legal law firm
      p Kosta Legal is a results-oriented law firm offering a wide range of legal services to both new entrants and well-established businesses in Uzbekistan with particular expertise to offer legal advice and services to foreign investors. Based in Tashkent, Uzbekistan, Kosta Legal works with multi-national and Fortune 500 companies, financial institutions (including regional development banks), the governments of different states, and small and medium-sized businesses, along with start-ups.
    .home-firm__list
      img(src="img/home/home-firm-1.png", alt="")
      img(src="img/home/home-firm-2.png", alt="")
      img(src="img/home/home-firm-3.png", alt="")
      img(src="img/home/home-firm-4.png", alt="")