section.home-news
  .container
    h2(data-aos="flip-up") latest news
    .row
      .col-sm-4.col-xs-12
        a(href="#").home-news__block(data-aos="zoom-out")
          .home-news__block__img(style="background-image: url('img/home/home-news-1.png')")
          p Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak 
          span 17 January 2019
      .col-sm-4.col-xs-12
        a(href="#").home-news__block(data-aos="zoom-out")
          .home-news__block__img(style="background-image: url('img/home/home-news-2.png')")
          p Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak 
          span 17 January 2019
      .col-sm-4.col-xs-12.hidden-xs-1
        a(href="#").home-news__block(data-aos="zoom-out")
          .home-news__block__img(style="background-image: url('img/home/home-news-3.png')")
          p Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak 
          span 17 January 2019
      .col-sm-4.col-xs-12.hidden
        a(href="#").home-news__block(data-aos="zoom-out")
          .home-news__block__img(style="background-image: url('img/home/home-news-2.png')")
          p Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak 
          span 17 January 2019
      .col-sm-4.col-xs-12.hidden
        a(href="#").home-news__block(data-aos="zoom-out")
          .home-news__block__img(style="background-image: url('img/home/home-news-2.png')")
          p Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak 
          span 17 January 2019
      .col-xs-12.center-xs
        a(href="#").btn.home-news-more More news