section.home-offer
  .home-offer__title
    .container
      h2 Deals & Cases
  .home-offer__content.hidden-xs
    a(href="#").home-offer__block
      img(src="img/home/deals-1.png", alt="")
      span banking and finance
    a(href="#").home-offer__block
      img(src="img/home/deals-2.png", alt="")
      span Competition and Antitrust
    a(href="#").home-offer__block
      img(src="img/home/deals-3.png", alt="")
      span Compliance & Regulatory
    a(href="#").home-offer__block
      img(src="img/home/deals-4.png", alt="")
      span Corporate and M&A
    a(href="#").home-offer__block
      img(src="img/home/deals-5.png", alt="")
      span Cross-Border Trade and Customs
    a(href="#").home-offer__block
      img(src="img/home/deals-6.png", alt="")
      span Dispute Resolution
    a(href="#").home-offer__block
      img(src="img/home/deals-7.png", alt="")
      span Energy and Natural Resources
    a(href="#").home-offer__block
      img(src="img/home/deals-8.png", alt="")
      span Labour and Employment
    a(href="#").home-offer__block
      img(src="img/home/deals-9.png", alt="")
      span Pharmaceutics and Healthcare
    a(href="#").home-offer__block
      img(src="img/home/deals-10.png", alt="")
      span Project Finance and Infrastructure Development
    a(href="#").home-offer__block
      img(src="img/home/deals-11.png", alt="")
      span Real Estate and Construction
    a(href="#").home-offer__block
      img(src="img/home/deals-12.png", alt="")
      span Telecommunications, Media and Technology
  .swiper-container.swiper-offer.hidden-sm.hidden-md
    .swiper-wrapper
      .swiper-slide
        a(href="#").home-offer__block
          img(src="img/home/deals-1.png", alt="")
          span banking and finance
        a(href="#").home-offer__block
          img(src="img/home/deals-2.png", alt="")
          span Competition and Antitrust
        a(href="#").home-offer__block
          img(src="img/home/deals-3.png", alt="")
          span Compliance & Regulatory
      .swiper-slide
        a(href="#").home-offer__block
          img(src="img/home/deals-4.png", alt="")
          span Corporate and M&A
        a(href="#").home-offer__block
          img(src="img/home/deals-5.png", alt="")
          span Cross-Border Trade and Customs
        a(href="#").home-offer__block
          img(src="img/home/deals-6.png", alt="")
          span Dispute Resolution
      .swiper-slide 
        a(href="#").home-offer__block
          img(src="img/home/deals-7.png", alt="")
          span Energy and Natural Resources
        a(href="#").home-offer__block
          img(src="img/home/deals-8.png", alt="")
          span Labour and Employment
        a(href="#").home-offer__block
          img(src="img/home/deals-9.png", alt="")
          span Pharmaceutics and Healthcare
      .swiper-slide
        a(href="#").home-offer__block
          img(src="img/home/deals-10.png", alt="")
          span Project Finance and Infrastructure Development
        a(href="#").home-offer__block
          img(src="img/home/deals-11.png", alt="")
          span Real Estate and Construction
        a(href="#").home-offer__block
          img(src="img/home/deals-12.png", alt="")
          span Telecommunications, Media and Technology
    .swiper-button-next.swiper-offer-next
      i.icon.icon-arrow-right
    .swiper-button-prev.swiper-offer-prev
      i.icon.icon-arrow-left