section.home-resources
  .container
    .home-resources__content
      .row
        .col-md-6
          .home-resources__column
            h2 publications
            .home-resources__column__img
              .row
                .col-xs-6
                  .home-resources__column__img--bg
                    a(href="#").btn Publications
                .col-xs-6
            .home-resources__column__text
              ul
                li Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak
                  span 17 January 2019
                li Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak
                  span 17 January 2019
                li Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak
                  span 17 January 2019
        .col-md-6
          .home-resources__column.home-resources__column--alerts
            h2 legal alerts
            .home-resources__column__text
              ul
                li Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak
                  span 17 January 2019
                li Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak
                  span 17 January 2019
                li Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak
                  span 17 January 2019
            .home-resources__column__img
              .row
                .col-xs-6
                  .home-resources__column__img--bg
                    a(href="#").btn Legal Alerts
                .col-xs-6