section.home-resources
  .container
    .home-resources__content
      .row
        .col-md-6
          .home-resources__column
            h2(data-aos="flip-up") publications
            .home-resources__column__img.home-resources__column__img-1(data-aos="zoom-in-right")
              a(href="#").btn Publications
            .home-resources__column__text
              ul
                li(data-aos="fade-up-right") Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak
                  span 17 January 2019
                li(data-aos="fade-up-right") Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak
                  span 17 January 2019
                li(data-aos="fade-up-right") Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak
                  span 17 January 2019
              a(href="#").hidden-md.hidden-sm More publications
        .col-md-6
          .home-resources__column.home-resources__column--alerts
            h2(data-aos="flip-up") legal alerts
            .home-resources__column__text
              ul
                li(data-aos="fade-up-left") Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak
                  span 17 January 2019
                li(data-aos="fade-up-left") Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak
                  span 17 January 2019
                li(data-aos="fade-up-left") Kosta Legal Senior Associate Mr. Maxim Dogonkin joins NNO Buyuk Kelajak
                  span 17 January 2019
              a(href="#").hidden-md.hidden-sm More publications
            .home-resources__column__img.home-resources__column__img-2(data-aos="zoom-in-left")
              .home-resources__column__img--bg
                a(href="#").btn Legal Alerts